/*全局*/
.details{
    width: 1280px;
    height: 450px;
}

/*图片展示区*/
.large_image{
    margin-left: 30px;
    width: 500px;
    height: 450px;
    align-content: center;
}
.large_image_pic{
    width: 500px;
    height: 400px;
    align-content: center;
}

#BigImg {
    width: 500px;
    height: 400px
}
/*图书详情页面*/
/*标题区*/
.name_info {
    position: absolute;
    left: 640px;
    top:210px;
    width: 700px;
    height: 450px;
}
/*价格区*/
.price_pc{
    margin-top: 20px;
    width: 300px;
    height: 70px;
    background-color: #9fcdff;
}

.button_red{
    margin-top: 40px;
    background-color: red;
    width: 180px;
    height: 50px;
    font-size: 30px;
    color:white;
    border-radius:10px;
}

.button_bule{
    margin-top: 40px;
    background-color: blue;
    width: 180px;
    height: 50px;
    font-size: 30px;
    color:white;
    border-radius:10px;
}