.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: #1b1e21;
}
body{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*第一栏：正品保障等*/
.footer_pic_new_inner{
    width: 1280px;
    height: 75px;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    border-top: solid 2.5px #69bbd3;
    background-color: #fafafa;
}
.footer_pic_new_inner li{
    display: inline-block;
    font-size: 17px;
    width: 80px;
    height: 50px;

}
.footer_pic_new_inner li:nth-child(even){
    margin: 10px  50px 0 0;
}
.footer_pic_new_inner li a{
    color:#69bbd3;
}
/*icon图标*/
.footer-icon{
    width: 40px;
    height: 40px;
}
/*第2栏 购物指南等*/
.public_footer_new{
    width: 1280px;
    height: 150px;
    text-align: center;
    overflow: hidden;
}
.footer_sort{
    display: inline-block;
    text-align: center;
    margin: 10px 30px;
}
/*小标题*/
/*.f_title{
    text-align: center;
}*/
.footer_sort ul{
    padding: 0;
}
.footer_sort ul li{
    list-style: none;
}
.footer_sort ul li a{
    color: gray;
    font-size: 12px;
}
/*第三栏*/
.footer_nav_box{
    width: 1280px;
    height: 150px;
    text-align: center;

}
.footer_nav_box a,.footer_nav_box span{
    font-size: 12px;
    color: gray;
}
.footer_nav span{
    padding:0 15px;
}
/*
.police-img{
    padding-top: 10px;
}*/
