body{
    text-align: center;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.bd1{
    display: flex;
    text-align: center;

}
.screen-head{
    height: 40px;
    margin-bottom: 7px;
    text-align: left;

}
.icon-head{
    width: 36px;
    height: 36px;
    color: #17a2b8;
    position: absolute;
    left: 30px;
    top:200px
}
.screen-head span{
    font-size: 20px;
    color: #17a2b8;
    margin-left: 80px;
    /* margin-left: 75px;*/
    font-family: "Microsoft Yahei", serif;
}
/*左边栏*/
.bd1_left{
    margin-left: 30px;
}
.left-side-table1{
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 200px;
    overflow: hidden;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
}
/*每一行*/
.left-side-table1 tr{
    border: 1px #17a2b8 solid;
    font-family: "Microsoft Yahei", serif;
}
.left-side-table1 tr a{
    text-decoration: none;
    color: #17a2b8;
}
.left-side-table1 tr a:hover{
    color: #abdde5;
}

/*右拉图标*/
.youla-icon{
    position: relative;
    top: 10px;
    float: right;
    right: 10px;
    color: #17a2b8;
    opacity: 0.5;
}
.left-side-table2{
    border: 1px #17a2b8 solid;
    border-collapse: collapse;
    padding: 0;
    margin-top: 17px;
    width: 200px;
    overflow: hidden;
    text-align: left;
    line-height: 35px;
}
.left-side-table2 .td1{
    font-family: "Microsoft Yahei", serif;
    font-size: 18px;
    font-weight: bold;
    color: #17a2b8;
}
.left-side-table2 td a{
    font-size: 15px;
    color: #17a2b8;
    font-family: "Microsoft Yahei", serif;
}
.left-side-table2 tr a:hover{
    color: #abdde5;
}
.bd1_left img{
    width: 200px;
    margin-bottom: 10px;

}
/*轮播图效果*/
.lun-bo-tu #box{
    width: 790px;
    height: 340px;
    margin: 0 auto;
    position: relative;
}
.lun-bo-tu #box1{
    width: 790px;
    height: 340px;
    margin: 0 auto;
    position: relative;
}

.lun-bo-tu #left1{
    left: 0px;
}

.lun-bo-tu #right1{
    right: 0px;
}
.lun-bo-tu ul {
    list-style: none;
    position: absolute;
    bottom: 20px;
    left: 200px;
}
.lun-bo-tu ul li{
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: #aaa;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}
.lun-bo-tu ul li a{
    color: #17a2b8;
}
/*主编推荐 栏*/
.editor-recommend-books{
    text-align: center;
}
/*icon图标*/
.icon-new{
    width: 55px;
    height: 55px;
    color: #17a2b8;
    position: absolute;
    left: 250px;
    top:580px
}
/*顶端分割线*/
.list-hr{
    width: 695px;
    height: 40px;
    text-align: left;
    margin-left: 75px;
    border-bottom: #17a2b8 1px solid;
}
.list-hr span{
    font-size: 20px;
    color: #17a2b8;
    /* margin-left: 75px;*/
    font-family: "Microsoft Yahei", serif;
}

/*书架区*/
.books{

}
.books-ul{
    margin-top: 30px;
    display: flex;
}
.books-ul li{
    text-align: left;
    list-style: none;
    margin-right: 40px;
}
/*一本书*/
.book{
    width: 150px;
    height: 220px;
}
.book p{
    margin:5px -5px 3px 20px;
}
/*书名*/
.book-name a{
    font-size: 15px;
    color: #1b1e21;
}
/*作者名*/
.book-author{
    font-size: 13px;
    color: #9a9a9a;
}
/*价格*/
.book-price{
    font-size: 18px;
    color: red;
}
/*分页*/
.books-page{
    display: none;
}
/*可点击的分页图标*/
.change-page{
    display: flex;
    text-align: center;
    width: 120px;
    padding-left: 300px;
    margin-top: 30px;
}
.change-page-dot{
    list-style: none;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: #487a6f;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}
.change-page-dot a{
    color: white;
}
/*右边栏*/
/*最新动态*/
.book_new_state{
    width: 220px;
    height: 120px;
    font-family: "Microsoft Yahei", serif;
    text-align: left;
    border: 1px solid #d8d8d8;
}
.book_new_state h4{
    padding-left: 12px;
    margin: 10px 0 5px 0;
}
.book_new_state-list{
    padding-left: 15px;
}
.state-detail{
    list-style: none;
}
.state-detail a{
    color: #1b1e21;
    font-size: 12px;
}
.state-detail a:hover{
    color: orange;
}
/*新书预售*/
.new-book-for-sale{
    margin-top: 15px;
    width: 220px;
    height: 180px;
    font-family: "Microsoft Yahei", serif;
    text-align: left;
    border: 1px solid #d8d8d8;
}
.new-book-for-sale h4{
    padding-left: 12px;
    margin: 10px 0 5px 0;
}
.book-form{
    display: flex;
}
.book-form a{
    font-size: 12px;
    color: #1b1e21;
}
.book-form a .p01{
    font-size: 15px;
    color: red;
}
.book-form a .p02{
    font-size: 15px;
    color: #9d9d9d;
}
/*热销榜*/
/*icon图标*/
.hot-sale-bang-icon{
    width: 30px;
    height: 30px;
}
.hot-sale-bang-title{
    margin-top: 28px;
    font-family: "Microsoft Yahei", serif;
    font-weight: bolder;
    font-size: 17px;
    text-align: left;
}
.hot-sale-bang{
    /* margin-top: 60px;*/
    width: 220px;
    height: 550px;
    font-family: "Microsoft Yahei", serif;
    text-align: left;
    border: 1px solid #d8d8d8;
}
/*榜单分类*/
.hot-sale-bang-nav{
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
}
.hot-sale-bang-01{
    width: 20%;
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
/*鼠标移入移出决定当前显示的榜单*/
.current-show-bang{
    border-bottom: none;
    color: #487a6f;
    border-top:  #487a6f 2px solid;
}
.hot-sale-bang-01 a{
    font-weight: bolder;
    font-size: 13px;
    color: #7a7a7a;
}
/*榜单上具体的书单*/
.books-in-bang{
    padding:0;
    display: none;
}
.books-in-bang li{
    list-style: none;
    display: flex;
    width: 210px;
    height: 35px;
    overflow: hidden;
    border-bottom: 1px solid #d8d8d8;
}
.books-in-bang li h5{
    margin: 7px 10px;
}
.books-in-bang li a{
    font-size: 12px;
    line-height: 30px;
    color: #7a7a7a;
}
.books-in-bang li a:hover{
    color: orange;
}
/*前三名高亮*/
.between-03 h5{
    color: red;
}